*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# IntelliJ files #
*.iml
*.idea
.idea/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

src/ic3cub3/antlr_gen/
*.exe
*.out
*.bbl
*.blg
*.bak
*.toc
*.gz(busy)
IC3CUB3.zip

target/
*.synctex.gz
*.aux
ic3cub3-*-*.jar
